body {
    padding: 0;
    margin: 0;
}

.top-container {
    background-color: #1F2937;
    padding: 5px 250px 65px;
}

.white-container {
    background-color: white;
    padding: 5px 250px 70px;
}

.quote-container {
    background-color:#e5e7eb;
    padding: 40px 255px 40px;
}

.bottom-container {
    background-color: white;
    padding: 70px 250px 70px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 5px 0px;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    padding-right: 1.5vw;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.top-content {
    display: flex;
    gap: 50px;
}

.topleft-content, .topright-content {
    flex-basis: 0;
    flex-grow: 1;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}

img {
    width: 20vw;
    margin-left: auto;
    display: flex;
    flex-shrink: 1;
}

.link-or-subtext {
    font-size: 22px;
    color: #e5e7eb;
}

#hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.recipe-container{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.dish {
    display: flex;
    flex-wrap: wrap;
    max-width: 228px;
    min-width: 0;
    /*The default min-width for flex items is auto meaning that 
    block elemetns can take up more space resulting in overflow. 
    This is apparent if min-width is not set to 0 and the page 
    is shrunk, the dish items will overflow out of the recipe 
    container.*/
    
    /*Note: This also NEEDS to be min-width. Width would not work and 
    flex-basis also does not work solve the problem of overflow.*/
}

.dish img{
    margin-bottom: 0.5em;
    min-width: 0;
    /*Also need min-width in the image otherwise overflowing issue 
    reoccurs. However, this is overflow out of the dish container.*/
    border: solid #3882f6;
    /*Border does not appear when 'solid' is not defined in the initial border field.*/
    border-width: 2px;
    border-radius: 15px;
}

.caption {
    text-align: center;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-color: #1f2937;
}

.author {
    text-align: right;
    font-size: 18px;
    font-color: #1f2937;
}

.signup-container {
    background-color: #3882f6;
    height: 100px;
    max-width: 650px;
    border-radius: 15px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    flex: 1;
}

.signup-left {
    min-width: 0;
    max-width: 400px;
    gap: 30px;
}